  <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-brown"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Eilleen Abraham Insurence / Receptionist </b></h5>
          <h6 class="w3-text-brown"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2015 - <span class="w3-tag w3-brown w3-round">Current</span></h6>
          <p>
            <li> Experience with Microsoft Office </li>
            <li> Organized the filing room </li>
            <li> Contact insurance agencies to update Information</li>
            <li> Keep customer files updated (contact info, updated addresses)</li> 
           .</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Maiki Designs / Stock / Sales Associate</b></h5>
          <h6 class="w3-text-brown"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2012 - Dec 2014</h6>
          <p>
           <li>  Prepared Products for trade shows and e-commerce </li>
           <li> Maintained product inventory</li>
           <li> Assisted customers with sales at trade shows 
             .</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Black Spectrum Theater/ Receptionist</b></h5>
          <h6 class="w3-text-brown"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>
          <p>
            <li> Experience with Microsoft Office
            <li>Taking messages for the marketing director
            <li>Extensive Typing
            <li>Faxing, mailing, copying 
            <li>Data entry </li>
        </p><br>
        </div>
      </div>